data = ["/home/james/roffs/${filename}#sst"]
mask = ['/home/james/roffs/landmasks/landmask_roffs_${masknum}.nc#landmask']
time = "/home/james/roffs/${filename}#time"
alpha = .05
numit = 23
nev = 50
neini = 1
ncv = 55
tol = 1.0e-8
nitemax = 300
toliter = 1.0e-3
rec = 1
eof = 1
norm = 0
Output = '/data/dineof_in/output/'
results = ['input/${filename}#forecasted_sst']
seed = 243435
cloud_size = 500
